.idea/
.cache/
.local/
.zsh_history
.lightning_studio/
.vscode-server
.vscode/
*.egg-info/
*.egg-info/
__pycache__/
*.pyc
.DS_Store
checkpoints/
outputs/
logs/
.env
.venv
.viminfo
.lesshst
./data/
input-data
checkpoints
todo.txt
todo
saved-model